.card-img-top {
    width: 100%;  
    height: 200px; 
    object-fit: cover; 
}

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    position: relative;
    flex: 1 1 auto;
}

.card-text {
    height: 100px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
}
.size-container {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}
