.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

.card-img-top {
    max-height: 200px; 
    width: auto; 
    object-fit: cover;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    height: 95vh;
    object-fit: cover; 
  }

  .custom-carousel-container {
    width: 80%; 
    margin: auto;
  }
  
  .custom-carousel-card {
    margin-right: 12px; 
  }
  .custom-card-img {
    height: 200px;
    width: auto;  
    object-fit: cover; 
  }
  