.product {
    height: 100vh;
}

.product .row {
    align-items: center; 
    min-height: 80vh;   
}

.product img {
    max-height: 75vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

